# http://editorconfig.org/

root = true

# default
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# markdown
[*.md]
trim_trailing_whitespace = false

# 4 indent size
[*.py]
indent_size = 4

# windows batch file and csv file
[*.{bat,cmd,csv}]
end_of_line = crlf
charset = shift_jis
